html{
    scroll-behavior: smooth;

}
*{
    font-family: Roboto, sans-serif !important;
}
.main_content{
    margin-right: 10px !important;
    margin-left: 10px;
    width: 90% !important;
}

#aboutme{
    height: 400px;    
    padding-bottom: 10px;
    position: relative;
    container-type: size;
}
@container (max-width: 500px){
    .aboutme_body{
        font-size: 1em;
    }

}
.aboutme_body{
    width: 70%;
    margin-right: 100px;
}
#resume{
    position: relative;
    height: 600px;
    container-type: size;
    margin-bottom: 10px;
}
@container (max-width: 600px){
    .stack{
        font-size: 0.7em
    }
}
#contactme{
    position: relative;
    height: 600px;
    margin-bottom: 50px;
    container-type: size;
}
@container (max-width: 500px){
    p{
        font-size: 0.7em
    }

}
.red{
    color: rgb(248, 85, 85);

}
.yellow{
    color: #FFE135;

}
.green{
    color: rgb(85, 248, 134);

}
.blue{
    color: rgb(85, 123, 248);
}
.stack{
    display: grid;
    grid-template-columns: repeat(3, minmax(130px, 250px));
    padding: 30px;
}
.button_sub{
    border: black solid 3px;
    padding: 10px;
    color: black;
    background: linear-gradient(to left, transparent 50%, black 50%) right;
    background-size: 200%;
    transition: 0.5s ease-out;
    font-family: 'Roboto ', sans-serif !important;
}
.button_dark{
    border: rgb(255, 255, 255) solid 3px;
    padding: 10px;
    color: white;
    font-family: 'Roboto ', sans-serif !important;
    background: linear-gradient(to left, transparent 50%, rgb(255, 255, 255) 50%) right;
    background-size: 200%;
    transition: 0.5s ease-out;
    
}
.button_sub:hover{
    color: white;
    background-position: left;
}
.button_dark:hover{
    color: rgb(0, 0, 0);
    background-position: left;
}
.team_icon{
    display: inline-block;
    margin-left: 10px;
    position: relative;
    bottom: -10px;

}
.location{
    position: relative;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width: 20em;
    height: 9em;
    right: 0px;
    background-color: #2c2b2b;
    color: white;
}
.fillable{
    font-family: Roboto;
    padding-top: 10px;
    width: 50%;
    display: inline-block;

}
input:invalid:focus{
    outline: rgb(248, 85, 85) solid 1px;

}
.name{
    display: inline-block;
    border: transparent;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 190px;
    outline: none;
}
.email{
    display: inline-block;
    border: transparent;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 190px;
    outline: none;
}
.message{
    display: block;
    border: transparent;
    padding: 10px;
    height: 10vh;
    width:150%;
    max-width: 390px;
    outline: none;
    font-family: Roboto;
}
.subject{
    display: block;
    border: transparent;
    padding: 10px;
    width: 150%;
    max-width: 390px;
    margin-bottom: 10px;
    outline: none;
}
.body{
    font-family: Roboto;
    background-color: aliceblue;
    transition: 0.5s;
    color: black;
}

.dark-mode{
    background-color: #1f1d1d;
    color: white;
    height: 100%;
    font-family: Roboto;
    transition: 0.5s;
    
}
.git{
    padding: 10px;
}
.cv{
    display: block;
    background-color: #1f1d1d;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    width: 190px;
    height: 3em;
    font-size: 20px;
    transition: 1s;
}
.cv:hover{
    background-color: rgb(82, 79, 79);
    
    transition: 1s;
}
.Resume{
    font-family: Roboto;
}
.container_res{
    margin-left: 15px;
    margin-right: 5vw;
}



/*interactive name */
.intro{
    padding-top: 250px;
    padding-bottom: 400px;
    margin-left: 10px;
    font-family: Roboto;
    height: 100vh;
    container-type: size;
}
.headline{
    position: relative;
    font-size: 5em;
    display: inline-block;
}
@container (max-width:500px){
    .headline {
        font-size: 2em;
    }
}

.E{
    color: rgb(248, 85, 85);
    display: inline-block;
    transition: transform 0.5s;
}
.S{
    color: rgb(85, 123, 248);
    display: inline-block;
    transition: transform 0.5s;
}
.A{
    color: rgb(85, 248, 134);
    display: inline-block;
    transition: transform 0.5s;
}
.U{
    color: #FFE135;
    display: inline-block;
    transition: transform 0.5s;
}
.E:hover{
    transform: translateY(-10px);
    
}
.S:hover{
    transform: translateY(-10px);
    
}
.A:hover{
    transform: translateY(-10px);
    
}
.U:hover{
    transform: translateY(-10px);
    
}

/*header navigation bar*/
.headbartop{
    position: sticky;
    z-index: 99;
    top: 0;
    left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 50px;
    background-color:rgb(237, 243, 248);
    color: black;
    display: flex;
    justify-content: flex-end;
}
.headbardown{
    position: sticky;
    z-index: 99;
    top: -80px;
    left: 0;
    height: 50px;
    
    display: flex;
    justify-content: flex-end;
    transition: 0.5s; 
}
.headbarup{
    position: sticky;
    z-index: 99;
    top: 0px;
    left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 50px;
    background-color:rgb(237, 243, 248);
    color: black;
    display: flex;
    justify-content: flex-end;
    transition: 0.5s;
}
.nav{
    transition: transform 0.5s;
    display: block;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    padding-right: 15px;
}
.nav:hover{
    transform: translateY(-10px);
}


  /*animated arrow and light/darkmode toggle*/
  
.arrow {
    position: absolute;
    bottom: 150px ;
    right: 40px;
    transform: translate(-50%, -50%);
    transform: rotate(0deg);
}
.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 10px solid rgb(0, 0, 0);
    border-right: 10px solid rgb(0, 0, 0);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.toggle{
    position: fixed;
    background-color: #1f1d1d;
    opacity: 0.5;
    color: white;
    border-radius: 50%;
    border: gainsboro 1px solid;
    padding: 10px;
    height: 50px;
    width: 50px;
    right: 18px;
    bottom: 40px;
    z-index: 99;
    transition: 0.25s;
}
.toggle:hover{
    opacity: 1;
    transition: 0.5s;
}
/* circle */

.circle{
    position: absolute;
    top: -700px;
    left: -700px;
    height: 1000px;
    width: 1000px;
    background-color:rgb(248, 85, 85);
    border-radius: 50%;
    overflow: hidden;
    transition: 0.5s;
}
.circle2{
    position: absolute;
    top: -700px;
    left: -700px;
    height: 1000px;
    width: 1000px;
    background-color:rgb(85, 123, 248);
    border-radius: 50%;
    overflow: hidden;
    transition: 0.5s;
}

/* card for resume */

.card{
    display: inline-block;
    width: 10em;
    height: 10em;
    border-radius: 10px;
    background-color: #1f1d1d;
    padding: 5px;
    margin: 10px;
    transition: 0.5s;
}
.card:hover{
    width: 11em;
    height: 11em;
    transition: 1s;
}

.img1{
    display: inline-block;
    position: absolute;
    width: 10em;
    height: 10em;
    top: 15em;
    right: 30em;

}


.footer{
    font-size: 12px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}

